---
import HomepageTab from "@/layouts/function-components/HomepageTab";
import VideoComponent from "@/layouts/function-components/VideoComponent";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
// inline SVG will be used for check icons to avoid React/JSX interop issues

type Props = {
  service: CollectionEntry<"homepage">["data"]["service"];
};
const { service } = Astro.props;
const { homepage_tab, our_service } = service;
---

<section class="section services">
  <div class="container">
    <HomepageTab client:load homepage_tab={homepage_tab} />
    {
      our_service.map((item, index) => (
        <div class="gx-5 row mt-12 items-center lg:mt-0">
          <div class={`lg:col-7 ${index % 2 === 0 ? "order-0" : "order-1"}`}>
            {item.image && (
              <div class="relative">
                <Image
                  class="w-full object-contain"
                  alt="service"
                  width={667}
                  height={498}
                  src={item.image}
                />
                <Image
                  class="absolute bottom-6 left-1/2 -z-[1] -translate-x-1/2"
                  src="/images/shape-2.png"
                  alt=""
                  height={147}
                  width={151}
                />
              </div>
            )}
            {item.video && (
              <VideoComponent
                client:load
                src={item.video.thumbnail}
                height={370}
                width={700}
                title={item.title}
                video_id={item.video.video_id}
                video_width="w-[700px]"
                video_height="h-[370px]"
              />
            )}
          </div>
          <div
            class={`mt-6 lg:col-5 lg:mt-0 ${
              index % 2 === 0 ? "order-1" : "order-0"
            }`}
          >
            <div class="text-container">
              <h2 class="lg:text-4xl">{item.title}</h2>
              <p class="mt-4">{item.description}</p>
              {item.button && item.button.enable && (
                <a class="btn btn-white mt-6" href={item.button.link}>
                  {item.button.label}
                </a>
              )}
              <ul class="mt-6 text-text-dark lg:-ml-4">
                {item.list &&
                  item.list.map((list) => (
                    <li class="mb-2 flex items-center rounded px-4">
                      <span class="check-badge mr-3" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                          <path d="M9 16.17L4.83 12 3.41 13.41 9 19l12-12-1.41-1.41z" />
                        </svg>
                      </span>
                      {list}
                    </li>
                  ))}
              </ul>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
